@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body{
  margin:0px;
  padding:0px;
  font-family: 'Bubblegum Sans', cursive;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #599cde; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066cc; 
  border-radius: 45px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0066cc; 
}